.ui-menu .ui-menu-parent .ui-menu-child {
    width: 20em !important;
}
body .ui-panelgrid .ui-panelgrid-cell{
    padding: 0.5rem;
}

.dialogBox{
    top: 15% !important;
    left:30% !important;
    right: 30% !important;
}

h1{
    font-family: Arial,sans-serif;
}
.tresD{
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
label{
    font-weight: bolder;
}
.bg-lightblue {
    background-color: #f3f3ff;
}
/* text colors */
.Orange {
    color: #EF6C00 !important;
}
.Purple {
    color: #7E57C2 !important;
}
.Blue {
    color: #0277BD !important;
}
.Red {
    color: #E53935 !important;
}
.Brown {
    color: #6D4C41 !important;
}
.Lime {
    color: #AFB42B !important;
}
.TealGreen {
    color: #0097A7 !important;
}
.Green {
    color: #43A047 !important;
}
.Gray{
    color: gray;
}
.DarkGreen {
    color: #00897B !important;
}
.Leaden {
    color: #444D58 !important;
}
.Pink {
    color: #EC407A !important;
}
.White {
    color: #fff !important;
}
.Yellow {
    color: #ffff00 !important;
}
.font1x{
    font-size: 1.1em !important;
}
.font2x{
    font-size: 1.3em !important;
}
.font3x{
    font-size: 1.5em !important;
}
.font-1x{
    font-size: 0.9em;
}
.font-2x{
    font-size: 0.7em;
}
.font-3x{
    font-size: 0.5em;
}
.fontBold{
    font-weight: bold;
}
.fontItalic{
    font-style: italic;
}
.top{
    vertical-align: top !important;
}
.espaciadoToolbar{
    margin-right: .5rem !important;
}
.noLeidoRowStyle{
    background-color: #C63737;
    background-image:none;
    font-weight: bold;
}

.insignia {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: .3px;
}
.insignia.verde {
    background-color: #C8E6C9;
    color: #256029;
}
.insignia.rojo {
    background-color: #FFCDD2;
    color: #C63737;
}
.insignia.amarillo {
    background-color: #FEEDAF;
    color: #8A5340;
}
.insignia.azul {
    background-color: #B3E5FC;
    color: #23547B;
}
.insignia.lila {
    background-color: #ECCFFF;
    color: #694382;
}
.insignia.naranja {
    background-color: #FFD8B2;
    color: #805B36;
}
.insignia.gris {
    background-color: #cccccc;
    color: black;
}
.ui-tree.ui-tree-horizontal .ui-treenode-content {
    background: #eeeeee !important;
}
.alertaTexto {
    border-radius: 10px;
    border: 2px solid #FF851B;
    padding: 10px;
    animation: cambiaColor 2s  infinite;
    margin: 5px;
    color: black !important;
}
@keyframes cambiaColor {
    from {
        background-color: white;
    }
    to {
        background-color: #ffcc99
    }
}